* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#container {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 0, 0);
}

#first {
    flex-basis: 40%;
    flex-direction: column;
    background-image: url(./images/thisisengineering-raeng-sbVu5zitZt0-unsplash.jpg);
    background-repeat: round;
    position: relative;
}

#first #logo {
    display: inline-flex;
    padding: 20px;
    position: relative;
    height: 162px;
    width: -webkit-fill-available;
    top: 12rem;
    opacity: 0.3;
    background-color: rgb(0, 0, 0);
    font-size: -webkit-xxx-large;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-family: 'Cinzel Decorative', cursive;

}

#first #logo img {
    height: 120px;
}

#second {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
}

#second #top {
    display: flex;
    flex-basis: 22rem;
    color: rgb(255, 255, 255);
    font-size: 25px;
    justify-content: center;
    padding: 50px;
    flex-direction: column;
}

#second span {
    font-style: italic;
}
#second #sub-text {
    margin-top: 1rem;
}
#second #middle {
    display: flex;
    flex-basis: 20rem;
    flex-direction: column;
    color: rgb(255, 255, 255);
}

#second #middle form {
    gap: 50px;
    display: flex;
    padding-left: 50px;
    height: -webkit-fill-available;
}

#second #middle form div {
    display: flex;
    flex-direction: column;
}

#second #middle form label {
    font-size: 10px;
    margin-top: 50px;
}

#second #middle p {
    padding-left: 50px;
    font-size: 25px;
}

#second #middle form input {
    height: 30px;
    width: 250px;
}
#second #bottom {
    display: flex;
    flex: 1;
    color: rgb(255, 255, 255);
    flex-direction: column;
    padding-left: 50px;
    padding-top: 25px;
}

#second #bottom button {
    width: 250px;
    height: 30px;
    background-color: #00ffff;
}

#second #bottom p {
    margin-top: 20px;
    color: rgb(0, 255, 255);
}

    
